In [5]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

### **Dictionnaire des variables de la base *Véhicules***
* ***Num_Acc :*** identifiant de l'accident
* ***id_vehicule :*** identifiant unique du véhicule code numérique
* ***num_veh :*** identifiant du véhicule code alphanumérique
* ***senc :*** Sens de circulation
* ***catv :*** Catégorie du véhciule
* ***obs :*** Obstacle fixe heurté
* ***obsm :*** Obstacle mobile heurté
* ***choc :*** Point de choc initial
* ***manv :*** Manoeuvre principal avant l'accident
* ***motor :*** Type de motorisation du véhicule
* ***occutc :*** Nombre d'occupants dans le transport en commun

### **Dictionnaire des variables de la base *Usagers***

* ***Num_Acc :*** identifiant de l'usager code numérique
* ***id_usager :*** identifiant unique du véhicule code numérique
* ***id_vehicule :*** identifiant unique du véhicule code numérique
* ***num_veh :*** identifiant du véhicule code alphanumérique
* ***place :*** Pour situer la place occupée dans le véhicule par l'usager au moment de l'accident.
* ***catu :*** Catégorie d'usager
* ***grav :*** Gravité de blessure de l'usager
* ***sexe :*** Sexe de l'usager
* ***An_nais :*** Année de naissance de l'usager
* ***trajet :*** Motif du déplaement au moment de l'accident
* ***secu1 :*** Le renseignement du caractère indique la présence et l’utilisation de l’équipement de sécurité
* ***secu2 :*** Le renseignement du caractère indique la présence et l’utilisation de l’équipement de sécurité
* ***secu3 :*** Le renseignement du caractère indique la présence et l’utilisation de l’équipement de sécurité
* ***Iocp :*** Localisation du piéton
* ***actp :*** Action du piéton
* ***etatp :*** Cette variable permet de préciser si le piéton accidenté était seul ou non

In [17]:
#pip install matplotlib

In [13]:
df_usag = pd.read_csv("usagers.csv", delimiter=";")
df_usag.head(2)

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202300000001,203 851 184,155 680 557,A01,1,1,4,1,1978.0,5,2,0,-1,-1,-1,-1
1,202300000002,203 851 182,155 680 556,A01,1,1,1,2,1997.0,9,1,0,-1,-1,-1,-1

In [12]:
df_veh = pd.read_csv("vehicules.csv", delimiter=";")
df_veh.head(2)

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202300000001,155 680 557,A01,1,30,0,0,5,1,1,NaN
1,202300000002,155 680 556,A01,2,7,0,1,1,1,1,NaN

In [14]:
df_usag.isna().sum()

Num_Acc           0
id_usager         0
id_vehicule       0
num_veh           0
place             0
catu              0
grav              0
sexe              0
an_nais        2598
trajet            0
secu1             0
secu2             0
secu3             0
locp              0
actp              0
etatp             0
dtype: int64

In [15]:
df_veh.isna().sum()

Num_Acc            0
id_vehicule        0
num_veh            0
senc               0
catv               0
obs                0
obsm               0
choc               0
manv               0
motor              0
occutc         92747
dtype: int64

In [19]:
print("shape of usagers' base : ", df_usag.shape)
print("shape of vehicule's base : ", df_veh.shape)

shape of usagers' base :  (125789, 16)
shape of vehicule's base :  (93585, 11)